@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 230, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('/SanGil.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  body {
    background: url('https://github.com/Irvin-Silva/CALA_ASOCIADOS/blob/main/public/San_Gil_Santander.jpg') no-repeat center center fixed !important;
    background-size: cover !important;/
  }
}
