@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de color */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 230, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Estilo base para el body */
body {
  color: rgb(var(--foreground-rgb));
  background-image: url('/SanGil.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  body {
    background-image: url('/San_Gil_Santander1.png') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important; /* iOS tiene problemas con 'fixed' */
    min-height: 100vh !important;
  }
}
