@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 230, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('/SanGil.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  body {
    background-image: url('/SanGil2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Cambiado de fixed a scroll */
    background-position: center;
    min-height: 100vh;
    -webkit-overflow-scrolling: touch; 
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
}
